:host {
  width: 100%;

  h1 {
    font-size: 18px;
    margin: 18px 0;
    color: var(--white);
    text-align: center;
  }

  .has-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-bottom: 2px solid var(--black-010);
  }

  .remove-margin-bottom {
    margin-bottom: 0;
  }
  .input-date {
  margin-left: 8px;
  background-color: #9c2727;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
    }
}
